@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  color: #fff;
}
.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.container a {
  text-decoration: none;
  color: steelblue;
}
.btn {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  background-color: lightblue;
  border: 0;
  display: inline-block;
  border-radius: 5px;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale(0.98);
}
.text {
  margin-top: 30px;
}
.form-container {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
.form-container input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.form-container input:focus,
.form-container input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}
.form-container label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
.form-container label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-container input:focus + label span,
.form-container input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
