*{
    box-sizing: border-box;
}
body{
    background-color: rgb(157, 188, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    
}
.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px ;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: '';
    background-color: rgb(200, 206, 204);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;

}

.progress{
    background-color: #006699 ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;

}

.circle{
    background-color: rgb(255, 255, 255); 
    color:  rgb(200, 206, 204);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid  rgb(200, 206, 204);
    transition: 0.4s ease   ;
}

.circle.active{
    border-color: #006699 ;
}

.btn{
    background-color: #006699 ;
    color: aliceblue;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 15px;
}

.btn:active{
    transform: scale(0.99);
}

.btn:focus{
    outline: 0;
}
.btn:disabled{
    cursor: not-allowed;
    background-color:rgb(200, 206, 204) ;
}